/*.homepage-container {
    min-height: 100vh;
  }*/


/*––––––FONT STYLES––––––*/

h1 {font-family: Poppins, Futura;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    color: black;
}

h2 {font-family: Poppins, Futura;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: black;
}


h3 {font-family: Poppins, Futura;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
}


h4 {font-family: Poppins, Futura;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: black;
}


h5 {font-family: Source Sans Pro, Futura;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: black;
}


p {font-family: Source Sans Pro, Futura;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
}


/*––––––MEDIA QUERIES––––––*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    h1 {font-size: 30px;}
    
    menu {
        flex-direction: column;
        align-items: center;
    }
    
    main {flex-direction: column; align-items: center;}

    footer {flex-direction: column;
    align-items: center;}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


a {
    text-decoration: none;
    color: black;
}


/*––––––NAV––––––*/

nav {background-color: #FDF8F3; 
}

#nav-container {
    background-color: #FDF8F3; 
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.suzieklogoblk {
    width: 163px;
    height: 22px;
    padding: 5px 10px 10px 150px;
  }

.menu {
    padding: 100px;
}

.social-icon-linkedin-2 {
    width: 18px;
    height: 18px;
    padding: 5px 5px 5px 5px;

}

.social-icon-instagram-2 {
    width: 18px;
    height: 18px;
    padding: 5px 150px 5px 5px;
}

/*––––––HEADER––––––*/

#header-container {
    background-color: #FDF8F3; 
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header {
    margin: 0px 50px 0px 150px;
}

.ato-ui-top {
    width: 945px;
    height: 702px; 
    padding: 0px 150px 0px 0px;
    display: flex;
}

/*––––––EXPERIENCE––––––*/


#experience-container {
    padding: 50px 150px 50px 150px;
    text-align: center;
    align-items: center;
    width: 800px;

}

#logo-table {
    display: flex;
    align-items: center;
    padding: 50px 150px 50px 150px;
}

tr {display: flex;

}

td img {margin: 1px; border-radius: 5px; width: 173px; height: 173px;}


/*––––––MY WORK––––––*/

#mywork {
    background-color: #FDF8F3;
    height:auto;
    padding: 50px 150px 50px 150px;
}

.save-a-pet {
    width: 592px;
    height: 592px;
    border-radius: 5px; 
    display: inline-block;
}

.travel-app {
    width: 711px;
    height: 502px;
    border-radius: 5px; 
    display: inline-block;
}

.ato-ui {
    width: 831px;
    height: 404px;
    border-radius: 5px; 
    display: inline-block;
}

.arc {
    width: 472px;
    height: 472px;
    border-radius: 5px; 
    display: inline-block;
}

/*––––––CLASSES––––––*/

.bold {font-weight: 700;}

.white {color: white;}

input[type="name"]{font-family: Poppins, Futura;}
input[type="email"]{font-family: Poppins, Futura;}


/*––––––BUTTONS––––––*/

button:hover {color:#8C0D57;}
button:active {color:#FF5EBA;}

#learn more button:hover{color:#8C0D57;}
button:active {color:#FF5EBA;}

#b-red {background-color: #FF5959; padding: 5px 10px;}


/*––––––FOOTER––––––*/

footer {background-color: #8C0D57;}

#footer-container {
    background-color: #8C0D57; 
    height: 300px;
    margin: 150px 100px 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow-wht-submit {
    width: 32px;
    height: 20px;
}

.social-icon-linkedin-wht {
    width: 18px;
    height: 18px;
    margin: 7px

}

.social-icon-instagram-wht {
    width: 18px;
    height: 18px;
    margin: 5px;
    justify-content: space-evenly;
}

.suzieklogobwht {
    width: 163px;
    height: 22px;
  }
